@import "tailwindcss";

:root {
  --background: #6A5AE0;
  --foreground: #171717;
  --middle-ground: #8B7CE8;
  --end-ground: #A594F9;
  --input-grey: #F7F7FA;
  --focus-ring: #6A5AE0;
  --link: #6A5AE0;
  --link-hover: #8B7CE8;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins-sans), sans-serif;
}
